minify-html==0.15.0
myst-parser==4.0.1
rcssmin==1.2.1
rjsmin==1.2.4
shibuya==2025.9.25
sphinx==8.2.3
sphinx-contributors==0.2.7
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-last-updated-by-git==0.3.8
sphinx-notfound-page==1.1.0
sphinx-reredirects==0.1.6
sphinx-tabs==3.4.7
sphinx-togglebutton==0.3.2
