# Custom NickelMenu items on the "main" screen
menu_item :main    :Dark Mode        :nickel_setting   :toggle:invert
  chain_success                      :power            :reboot
menu_item :main    :Save Logs        :cmd_spawn        :logread > /mnt/onboard/.adds/syslog.log
menu_item :main    :Screenshots      :nickel_setting   :toggle:screenshots
menu_item :main    :Sketch Pad       :nickel_extras    :sketch_pad
menu_item :main    :My Words         :nickel_open      :reading_life:words
menu_item :main    :PC Connect       :nickel_misc      :force_usb_connection

# Custom NickelMenu items on the "reader" screen
menu_item :reader    :Dark Mode      :nickel_setting   :toggle:invert
  chain_success                      :power            :reboot
menu_item :reader    :Sketch Pad     :nickel_extras    :sketch_pad
menu_item :reader    :Screenshots    :nickel_setting   :toggle:screenshots
